body {
	background-color: rgb(104, 187, 285);
	width: 100%;
}
#header {
	background-color: rgb(9, 30, 45);
	color: white;
}
title {
	
}
h1 {
	position: relative;
	text-align: center;
}
h2 {
	position: relative;
	text-align: center;
}
h3 {
	position: relative;
	text-align: center;
}
h4 {
	position: relative;
	text-align: center;
}
p {
	position: relative;
	text-align: left;
	margin: 2%;
}
#container {
	background-color: yellow;
}

#left-box{
	float: left;
	background-color: rgb(9, 30, 45);
	color: white;
	width: 30%;
	margin-left: 2%;
}

#right-box {
	float: right;
	background-color: rgb(104, 187, 285);
	width: 60%;
	margin-right: 2%;
	border-color: rgb(9, 30, 45);
}
#experiences-box {
	background-color: white;
	
}
.experiences {
	background-color: rgb(9, 30, 45);
	color: white;
}

#studies-box {
background-color: white;
}
.study {
	background-color: rgb(9, 30, 45);
	color: white;
}

#footer {

}